@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0;
  }
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url("/fonts/PT_Sans-Web-Bold.ttf") format(".TrueType");
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url("/fonts/PT_Sans-Web-Regular.ttf") format(".TrueType");
}

@font-face {
  font-family: 'Inset F Heavy';
  src: url("/fonts/Inset F Heavy.ttf") format(".TrueType");
}

body {
  line-height: 1.2;
}

.header .container {
  position: relative;
}

.header .container:before {
  position: absolute;
  display: block;
  content: "";
  width: 300px;
  height: 554px;
  background-image: url(../img/w1.png);
  left: -175px;
  bottom: -35px;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .header .container:before {
    left: -110px;
  }
}

@media screen and (max-width: 768px) {
  .header .container:before {
    background-image: url(../img/mobile/w1_mbl.png);
    height: 639px;
  }
}

@media screen and (max-width: 480px) {
  .header .container:before {
    background-image: url(../img/mobile/w1_mbl.png);
    height: 625px;
    left: -105px;
  }
}

.header .container:after {
  position: absolute;
  display: block;
  content: "";
  width: 300px;
  height: 554px;
  background-image: url(../img/w2.png);
  right: -190px;
  bottom: -35px;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .header .container:after {
    right: -120px;
  }
}

@media screen and (max-width: 768px) {
  .header .container:after {
    background-image: url(../img/mobile/w2_mbl.png);
    height: 639px;
  }
}

@media screen and (max-width: 480px) {
  .header .container:after {
    background-image: url(../img/mobile/w2_mbl.png);
    height: 625px;
    right: -105px;
  }
}

@media screen and (max-width: 480px) {
  .row .col-12, .row .col-8 {
    padding: 0;
  }
}

.container {
  max-width: 980px;
  min-width: 320px;
  padding: 0 30px;
  text-align: center;
}

p, span {
  color: #000000;
  line-height: 1.2;
  margin-bottom: 0;
}

.header {
  overflow: hidden;
  padding-bottom: 34px;
  background-image: url(../img/desktop/bkg1_dskt.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .header {
    background-image: url(../img/tablet/bkg1_tbl.jpg);
  }
}

@media screen and (max-width: 480px) {
  .header {
    background-image: url(../img/mobile/bkg1_mbl.jpg);
  }
}

@media screen and (max-width: 768px) {
  .head-col {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .head-col {
    display: none;
  }
}

.header span.star,
.header .down p {
  font-family: 'PT Sans Bold';
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .header span.star,
  .header .down p {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header span.star,
  .header .down p {
    font-size: 20px;
    color: #ffff;
  }
}

.logo {
  display: block;
  margin-top: 23px;
}

@media screen and (max-width: 768px) {
  .logo {
    padding: 0;
  }
}

.header .down {
  margin-top: 45px;
}

.star {
  position: relative;
}

.star:after {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/b1.png);
  right: -15px;
  top: 0;
}

#phone {
  color: #e1041e;
  font-family: 'Inset F Heavy';
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0;
}

fieldset.scheduler-border {
  display: block;
  width: 100%;
  border: 1px solid #e1041e !important;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) !important;
}

fieldset.scheduler-border .title-desc {
  margin: 0 68px 10px 68px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'PT Sans Bold';
}

@media screen and (max-width: 992px) {
  fieldset.scheduler-border .title-desc {
    font-size: 26px;
    margin: 0 80px 20px 80px;
  }
}

@media screen and (max-width: 768px) {
  fieldset.scheduler-border .title-desc {
    font-size: 24px;
    margin: 0 60px 20px 60px;
  }
}

@media screen and (max-width: 480px) {
  fieldset.scheduler-border .title-desc {
    display: none;
  }
}

fieldset.scheduler-border .title-desc span {
  color: #000000;
  text-transform: uppercase;
}

.col.index {
  z-index: 999;
}

.title__desc-bottom {
  font-weight: 700;
  font-family: 'PT Sans Bold';
  font-size: 0;
}

.title__desc-bottom span {
  color: #ffff;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .title__desc-bottom {
    margin-top: 30px;
    color: #ffff;
    font-size: 20px;
    z-index: 999;
  }
}

@media screen and (max-width: 480px) {
  fieldset.scheduler-border #phone {
    font-size: 32px;
  }
}

legend.scheduler-border {
  text-align: center !important;
  width: auto;
  padding: 0 10px;
}

legend.scheduler-border span {
  color: #e1041e;
}

@media screen and (max-width: 480px) {
  legend.scheduler-border span {
    display: none;
  }
}

legend.scheduler-border .title {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 80px;
  font-weight: bold !important;
  color: #e1041e;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  font-family: 'Inset F Heavy';
}

@media screen and (max-width: 992px) {
  legend.scheduler-border .title {
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  legend.scheduler-border .title {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  legend.scheduler-border .title {
    font-size: 32px;
  }
}

.header-info {
  position: relative;
  border-radius: 10px;
  border: 1px solid #c0a9ad;
  background-color: rgba(255, 255, 255, 0.32);
  padding: 5px 10px;
  margin-top: 32px;
  z-index: 999;
}

.header-info:before {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/b1.png);
  left: -5px;
  top: -5px;
}

.header-info p {
  color: #000000;
  font-family: 'PT Sans Bold';
  font-size: 20px;
  text-transform: lowercase;
  margin: 0;
}

#myBtn {
  margin-top: 32px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  border-radius: 38px;
  background-color: #bbb507;
  border: none;
  text-align: center;
  padding: 20px 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Arial - Bold MT";
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#myBtn:hover {
  background: #8b870b;
}

@media screen and (max-width: 480px) {
  #myBtn {
    padding: 15px 10px;
    font-size: 20px;
  }
}

.sign-up {
  padding: 0;
  z-index: 999;
}

.header-data {
  color: #4e1118;
  font-family: 'PT Sans Regular';
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.eggs {
  padding-top: 40px;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .eggs {
    padding-top: 30px;
  }
}

.eggs .eggs-info {
  font-family: 'PT Sans Bold';
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .eggs .eggs-info {
    font-size: 18px;
  }
}

.eggs .md {
  padding: 0;
  margin: 0;
}

.eggs-item {
  margin-bottom: 20px;
  font-size: 60px;
  font-family: 'PT Sans Bold';
  color: #000000;
  font-weight: 700;
}

.eggs-item p {
  margin-top: 20px;
}

.eggs-item img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 480px) {
  .eggs-item.md p {
    margin: 0;
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  .eggs .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .eggs .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.eggs-title {
  margin-top: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .eggs-title {
    margin-top: 30px;
  }
}

.eggs-title h2 {
  font-size: 48px;
  font-family: 'Inset F Heavy';
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.38);
  color: #e1041e;
  font-weight: 400;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.eggs-title h2:before {
  border-top: 2px solid #e1041e;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.38);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.38);
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.eggs-title h2 span {
  color: #e1041e;
  background: #fff;
  padding: 0 10px;
}

.eggs .eggs-title-date {
  font-family: 'PT Sans Bold';
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
  .eggs .eggs-title-date {
    text-align: left;
    font-size: 20px;
  }
}

.first-day {
  background-image: url(../img/desktop/bkg2_dskt.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}

.first-day .container {
  position: relative;
}

.first-day .container:before {
  position: absolute;
  display: block;
  content: "";
  width: 360px;
  height: 554px;
  background-image: url(../img/img1.png);
  background-repeat: no-repeat;
  left: -374px;
  bottom: -100px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .first-day .container:before {
    left: -328px;
    bottom: 210px;
  }
}

@media screen and (max-width: 480px) {
  .first-day .container:before {
    bottom: 495px;
    background-size: cover;
  }
}

.first-day .media-body {
  text-align: left;
}

.first-day h5 {
  font-size: 18px;
  font-family: 'PT Sans Bold';
  font-weight: 700;
  display: inline-block;
}

.first-day span {
  font-size: 18px;
  font-family: 'PT Sans Regular';
}

@media screen and (max-width: 768px) {
  .first-day {
    background-image: url(../img/tablet/bkg2_tbl.jpg);
    background-position: 17% 100%;
  }
}

@media screen and (max-width: 480px) {
  .first-day {
    background-image: url(../img/mobile/bkg2_mbl.jpg);
    background-position: left;
  }
}

.result {
  margin-top: 30px;
  margin-left: 70px;
  margin-bottom: 30px;
  border-bottom: 2px solid #e1041e;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.38);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.38);
}

@media screen and (max-width: 480px) {
  .result {
    margin-left: 0;
  }
}

.result .result-title {
  z-index: 1;
  position: relative;
}

.result .result-title:before {
  border-top: 2px solid #e1041e;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.38);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.38);
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.result .result-title span {
  font-size: 30px;
  color: #e1041e;
  font-family: 'PT Sans Bold';
  font-weight: 700;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  background: #A8D2D1;
  padding: 0 10px;
}

.result .result-descr {
  font-size: 24px;
  font-family: 'PT Sans Bold';
  font-weight: 700;
  padding: 10px 30px;
}
/*# sourceMappingURL=style.css.map */